{% extends 'app/default/list.html.twig' %}

{% set _select2_locales = ['ar', 'az', 'bg', 'ca', 'cs', 'da', 'de', 'el', 'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gl', 'he', 'hi', 'hr', 'hu', 'id', 'is', 'it', 'ja', 'km', 'ko', 'lt', 'lv', 'mk', 'ms', 'nb', 'nl', 'pl', 'pt-BR', 'pt', 'ro', 'ru', 'sk', 'sr-Cyrl', 'sr', 'sv', 'th', 'tr', 'uk', 'vi', 'zh-CN', 'zh-TW'] %}
{% set _app_language = app.request.locale|split('-')|first|split('_')|first %}
{% set _select2_locale = app.request.locale in _select2_locales
    ? app.request.locale
    : _app_language in _select2_locales ? _app_language : 'en'
%}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set startDate = app.request.query.get('startDate', date() | date('01-m-Y')) %}
{%  set endDate = app.request.query.get('endDate', date() | date('t-m-Y')) %}

{% set _request_parameters = _request_parameters|default({})|merge({
    action: app.request.query.get('action'),
    entity: _entity_config.name,
    menuIndex: app.request.query.get('menuIndex'),
    submenuIndex: app.request.query.get('submenuIndex'),
    sortField: app.request.query.get('sortField', ''),
    startDate: startDate,
    endDate: endDate,
    company: app.request.query.get('company'),
    department: app.request.query.get('department'),
    shiftment: app.request.query.get('shiftment'),
    employeeId: app.request.query.get('employeeId'),
    sortDirection: app.request.query.get('sortDirection', 'DESC'),
    page: app.request.query.get('page', 1)
}) %}

{% block global_actions %}
    <div class="form-action">
        <form method="post" action="{{ path('upload_overtime') }}" enctype="multipart/form-data">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <div class="input-group">
                <input type="file" accept=".csv" name="overtime" class="form-control"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" title="{{ 'label.overtime.upload_action' | trans({}, 'messages') }}">
                        <i class="fa fa-upload"></i>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <a class="btn btn-default download" title="{{ 'label.overtime.download_template' | trans({}, 'messages') }}">
                        <i class="fa fa-download"></i>
                        <span class="hidden-xs hidden-sm"></span>
                    </a>
                    <button class="btn btn-primary process" type="button" title="{{ 'label.overtime.process_action' | trans({}, 'messages') }}">
                        <i class="fa fa-cogs"></i>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    {{ parent() }}
{% endblock %}

{% block main %}
    {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}

    <div class="row">
        <form method="get" action="{{ path('easyadmin') }}">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <input type="hidden" name="sortField" value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
            <input type="hidden" name="sortDirection" value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
            <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
            <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
            <div class="field-group col-xs-12 col-sm-12 col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 new-row">
                                <div class="form-group">
                                    <label class="control-label" for="shiftment">Pilih Karyawan</label>
                                    {% set employee = semarthris_create_employee(app.request.query.get('employeeId', '')) %}
                                    <select class="employee-search" name="employeeId">
                                        {% if employee is not null %}
                                            <option value="{{ employee.id }}">{{ employee.code ~ ' ' ~ employee.fullName }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="startDate">Pilih Tanggal</label>
                                    <div class="input-group input-daterange">
                                        <input id="startDate" type="text" name="startDate" class="form-control" required="required" value="{{ app.request.query.get('startDate') ?: date() | date('01-m-Y') }}">
                                        <span class="input-group-addon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                                        <input id="endDate" type="text" name="endDate" class="form-control" required="required" value="{{ app.request.query.get('endDate') ?: date() | date('t-m-Y') }}">
                                        <span class="input-group-btn">
                                            <button name="filter" id="filter" class="btn btn-primary pull-right" type="submit"><i class="fa fa-television"></i> {{ 'label.overtime.filter_action' | trans({}, 'messages') }}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <form method="get" action="{{ path('easyadmin') }}">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <input type="hidden" name="sortField" value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
            <input type="hidden" name="sortDirection" value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
            <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
            <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
            <div class="field-group col-xs-12 col-sm-12 col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="company">Pilih Perusahaan</label>
                                    <select id="company" name="company" class="static-select company-select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="department">Pilih Department</label>
                                    <input type="hidden" name="department" class="department-id" value="{{ app.request.query.get('department') }}">
                                    <select id="department" name="department_text" class="department-select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 new-row">
                                <div class="form-group">
                                    <label class="control-label" for="shiftment">Pilih Shift</label>
                                    <select id="shiftment" name="shiftment" class="static-select shiftment-select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="startDate">Pilih Tanggal</label>
                                    <div class="input-group input-daterange">
                                        <input id="startDate" type="text" name="startDate" class="form-control startDate" required="required" value="{{ app.request.query.get('startDate') ?: date() | date('01-m-Y') }}">
                                        <span class="input-group-addon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                                        <input id="endDate" type="text" name="endDate" class="form-control" required="required" value="{{ app.request.query.get('endDate') ?: date() | date('t-m-Y') }}">
                                        <span class="input-group-btn">
                                            <button name="filter" id="filter" class="btn btn-primary pull-right" type="submit"><i class="fa fa-television"></i> {{ 'label.overtime.filter_action' | trans({}, 'messages') }}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            {% block table_head %}
                {{ parent() }}
            {% endblock table_head %}
            </thead>

            <tbody>
            {% block table_body %}
                {{ parent() }}
            {% endblock table_body %}
            </tbody>
        </table>
    </div>

    {% block paginator %}
        {{ parent() }}
    {% endblock paginator %}

    <div id="modal-process" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'delete_modal.title'|trans({}, 'EasyAdminBundle') }}</h4>
                    <p>{{ 'semarthris.overtime.process_warning_content'|trans({}, 'messages') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">
                        {{ 'action.cancel'|trans({}, 'messages') }}
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger process-overtime">
                        {{ 'label.overtime.process_action' | trans({}, 'messages') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-after-process" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'delete_modal.title'|trans({}, 'EasyAdminBundle') }}</h4>
                    <p>{{ 'semarthris.overtime.process_finish_content'|trans({}, 'messages') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary reload">
                        {{ 'action.close'|trans({}, 'messages') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}

{% block head_stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset('js/semart.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            var locale = '{{ _select2_locale }}';
            var emptyText = '{{ 'label.form.empty_value' | trans({}, 'messages') }}';
            var btnFile = '{{ 'label.form.file_chooser' | trans({}, 'messages') }}';

            $(document).on('click', '.process', function () {
               $('#modal-process').modal();
            });

            $(document).on('click', '.download', function () {
                window.location = '/files/templates/overtime.csv?force=1';
            });

            $(document).on('change', 'input[name=startDate]', function () {
                $('input[name=startDate]').val($(this).val());
            });

            $(document).on('change', 'input[name=endDate]', function () {
                $('input[name=endDate]').val($(this).val());
            });

            $(document).on('click', '.process-overtime', function () {
                var employees = [];
                $('.employee:checkbox:checked').each(function () {
                    employees.push($(this).data('employee'));
                });

                var date = createDate($('.startDate').val(), '{{ date_format_long }}');
                var month = date.getMonth() + 1;

                $.ajax({
                    url: Routing.generate('process_overtime'),
                    type: 'POST',
                    data: {
                        employees: employees,
                        month: month,
                        year: date.getFullYear()
                    },
                    beforeSend: function () {},
                    success: function () {
                        $('#modal-after-process').modal();
                    },
                    error: function () {
                        console.log('KO');
                    }
                });
            });

            $(document).on('click', '.reload', function() {
                window.location.reload(true);
            });

            $(document).on('click', '.employee_checkall', function(){
                $('.employee').prop('checked', this.checked);
            });

            change_file_chooser(btnFile, 'fa fa-file-excel-o', true);
            change_static_select(locale);
            date_range_picker(locale,  '{{ date_format_long }}');
            company_autocomplete(emptyText, '{{ app.request.query.get('company') }}');
            shiftment_autocomplete(emptyText, '{{ app.request.query.get('shiftment') }}');
            department_autocomplete(locale, emptyText);

            employee_search('{{ _select2_locale }}');
            $('.employee-search').change();
        });
    </script>
{% endblock %}
