{% extends 'layout.html.twig' %}

{% block stylesheets %}{% filter spaceless %}
    <link rel="stylesheet" href="{{asset('lib/bootstrap-datepicker/bootstrap.datepicker.min.css')}}">
    <link rel="stylesheet" href="{{asset('lib/select2/css/select2.min.css')}}">
{% endfilter %}{% endblock %}

{% block title %}{% filter spaceless %}{{ title | upper }}{% endfilter %}{% endblock %}

{% block page_title %}{% filter spaceless %}{{ title }}{% endfilter %}{% endblock %}

{% block content %}{% filter spaceless %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'label.crud.list_title' | trans }} {{ title }}</h3>
                <div class="box-tools col-md-7 col-xs-7 col-sm-7 col-lg-7 pull-right">
                    <div class="input-group">
                        {% if is_granted('add', code_to_menu('COMPANYLETTER')) %}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary form-modal-action"><i class="fa fa-plus-circle"></i> {{ 'label.crud.add' | trans }}</button>
                            </div>
                        {% endif %}
                        <input type="text" name="table_search" class="form-control pull-right query-string" placeholder="{{ 'label.crud.search_text' | trans }}">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-danger search-action"><i class="fa fa-search-plus"></i> {{ 'label.crud.search' | trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="table-content" class="table table-responsive no-padding table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 49px;">No</th>
                            <th class="text-center">{{ 'label.company_letter.company' | trans }} <i data-sort="no" data-sort-field="company.name" class="fa fa-sort sortable pull-right"></i></th>
                            <th class="text-center">{{ 'label.company_letter.letter_type' | trans }} <i data-sort="no" data-sort-field="letterType" class="fa fa-sort sortable pull-right"></i></th>
                            <th class="text-center">{{ 'label.company_letter.letter_number' | trans }}</th>
                            <th class="text-center">{{ 'label.company_letter.title' | trans }}</th>
                            <th class="text-center">{{ 'label.company_letter.due_date' | trans }}</th>
                            <th class="text-center">{{ 'label.company_letter.end_date' | trans }}</th>
                            <th class="text-center" style="width: 177px">{{ 'label.crud.action' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody class="table-content">
                        {% include 'company_letter/table-content.html.twig' %}
                    </tbody>
                </table>
            </div>
            <div class="box box-footer">
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 pull-left margin-r-5">
                    <button type="button" class="btn btn-danger refresh"><i class="fa fa-refresh"></i> {{ 'label.crud.refresh' | trans }}</button>
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 pull-right pagination-box">
                    {% include 'company_letter/pagination.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-default" id="form-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title form-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="semartForm" method="POST">
                    <input type="hidden" id="id" value="">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.company_letter.company' | trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="company">
                                <option value="">---PILIH {{ 'label.company_letter.company' | trans | upper }}---</option>
                                {% for i, data in companies %}
                                    <option value="{{ data.id }}">{{ data.code ~ ' - ' ~ data.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.company_letter.letter_type' | trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="letterType">
                                <option value="">---PILIH {{ 'label.company_letter.letter_type' | trans | upper }}---</option>
                                {% for i, v in letterTypes %}
                                    <option value="{{ i }}">{{ v | upper }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.company_letter.letter_number' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="letterNumber" placeholder="{{ 'label.company_letter.letter_number' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.company_letter.title' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" placeholder="{{ 'label.company_letter.title' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">{{ 'label.company_letter.due_date' | trans }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control date-picker" id="dueDate" placeholder="{{ 'label.company_letter.due_date' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">{{ 'label.company_letter.end_date' | trans }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control date-picker" id="endDate" placeholder="{{ 'label.company_letter.end_date' | trans }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left btn-warning" data-dismiss="modal">{{ 'label.crud.cancel' | trans }}</button>
                <button type="button" class="btn btn-danger save">{{ 'label.crud.save' | trans }}</button>
            </div>
        </div>
    </div>
</div>

{% include 'default/notification_modal.html.twig' %}
{% endfilter %}{% endblock %}

{% block javascripts %}{% filter spaceless %}
<script src="{{ asset('lib/bootstrap-datepicker/bootstrap.datepicker.min.js') }}"></script>
<script src="{{ asset('lib/select2/js/select2.min.js') }}"></script>
<script>
    $(window).ready(function () {
        localStorage.setItem('csrf_token', '{{ csrf_token('APP_CSRF_TOKEN') }}');
        localStorage.setItem('cache_id', '{{ cacheId }}');

        $('.select2-static').select2();
        $('.query-string').val('');
        $('.date-picker').datepicker({
            format: 'dd-mm-yyyy',
            language: 'id',
            todayBtn: true,
            todayHighlight: true,
            weekStart: 1,
            autoclose: true
        });

        $(document).on('click', '.form-modal-action', function () {
            formReset(function () {
                $('.select2-static').trigger('change');
            });

            $('.form-title').html('{{ 'label.crud.add_title' | trans({'%title%': title }) }}');
            $('#form-modal').modal();
        });

        $(document).on('click', '.save', function () {
            let id = $('#id').val();
            let company = $('#company').val();
            let letterType = $('#letterType').val();
            let letterNumber = $('#letterNumber').val();
            let title = $('#title').val();

            $.post(Routing.generate('company_letters_save'), {
                _csrf_token: localStorage.getItem('csrf_token'),
                _cache_id: localStorage.getItem('cache_id'),
                id: id,
                company: company,
                letterType: letterType,
                letterNumber: letterNumber,
                title: title
            }, function (response) {
                localStorage.setItem('csrf_token', response._csrf_token);
                if ('OK' === response.status) {
                    formReset(function () {
                        $('.select2-static').trigger('change');
                    });

                    $('#form-modal').modal('hide');

                    toastr['success']('{{ 'label.crud.save_message' | trans }}');

                    refreshTable(window.location.href, '{{ title }}');
                } else {
                    let listError = '<ul>';
                    $.each(response.errors, function (key, value) {
                        listError = listError + '<li>' + value + '</li>';
                    });
                    listError = listError + '</ul>';

                    $('.error-body').html(listError);
                    $('.error-modal').modal();
                }
            });
        });

        $(document).on('shown.bs.modal', '#form-modal', function (e) {
            let relatedTarget = e.relatedTarget;
            let id = $(relatedTarget).data('primary');
            let container = $('body');

            container.semartLoader();

            if ('undefined' !== typeof id) {
                $.get(Routing.generate('company_letters_detail', {id: id}), function (response) {
                    let data = JSON.parse(response);
                    $('#id').val(data.id);
                    $('#company').val(data.company);
                    $('#letterType').val(data.letterType);
                    $('#letterNumber').val(data.letterNumber);
                    $('#title').val(data.title);

                    formReset(function () {
                        $('.select2-static').trigger('change');
                    });

                    $('.form-title').html('{{ 'label.crud.edit_title' | trans({'%title%': title }) }}');

                    container.trigger('destroy.semart.loader');
                });
            } else {
                container.trigger('destroy.semart.loader');
            }
        });

        $(document).on('click', '.delete', function () {
            $('#primaryId').val($(this).data('primary'));
            $('.delete-modal').modal();
        });

        $(document).on('click', '.notif-delete', function () {
            $('.delete-modal').modal('hide');
            $.post(Routing.generate('company_letters_remove', {id: $('#primaryId').val()}), {_csrf_token: localStorage.getItem('csrf_token')}, function (response) {

                toastr['success']('{{ 'label.crud.delete_message' | trans }}');

                refreshTable(Routing.generate('company_letters_index'), '{{ title }}');

                localStorage.setItem('csrf_token', response._csrf_token);
            });
        });

        $(document).on('click', '.search-action', function () {
            let params = getQueriesString();

            params['q'] = $('.query-string').val();

            refreshTable(Routing.generate('company_letters_index', params), '{{ title }}');
        });

        $(document).on('click', '.pagination-container a.btn-danger', function (e) {
            e.preventDefault();
            let url = jQuery(this).attr('href');

            refreshTable(url, '{{ title }}');
        });
    });
</script>
{% endfilter %}{% endblock %}
