{% filter spaceless %}
<input type="hidden" id="primaryId" value=""/>
<div class="modal modal-danger fade delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'label.crud.notification' | trans }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'label.crud.delete_notification_message' | trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'label.crud.cancel' | trans }}</button>
                <button type="button" class="btn btn-outline notif-delete">{{ 'label.crud.delete' | trans }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-warning fade error-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'label.crud.notification' | trans }}</h4>
            </div>
            <div class="modal-body error-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'label.crud.close' | trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endfilter %}
