{% extends 'app/default/list.html.twig' %}

{% set _select2_locales = ['ar', 'az', 'bg', 'ca', 'cs', 'da', 'de', 'el', 'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gl', 'he', 'hi', 'hr', 'hu', 'id', 'is', 'it', 'ja', 'km', 'ko', 'lt', 'lv', 'mk', 'ms', 'nb', 'nl', 'pl', 'pt-BR', 'pt', 'ro', 'ru', 'sk', 'sr-Cyrl', 'sr', 'sv', 'th', 'tr', 'uk', 'vi', 'zh-CN', 'zh-TW'] %}
{% set _app_language = app.request.locale|split('-')|first|split('_')|first %}
{% set _select2_locale = app.request.locale in _select2_locales
    ? app.request.locale
    : _app_language in _select2_locales ? _app_language : 'en'
%}
{% set region = semarthris_create_region(app.request.session.get('regionId')) %}

{% block content_header %}
    <div class="row">
        <div class="col-sm-8">
            {% block content_title_wrapper %}
                <div class="row">
                    <div class="col-sm-5">
                        <h1 class="title">{{ block('content_title') }}</h1>
                    </div>
                    <div class="col-sm-7">
                        <form method="get" action="{{ path('city_filter') }}">
                            <div class="input-group">
                                <select class="region-search" name="id">
                                    {% if region is not null %}
                                        <option value="{{ region.id }}">{{ region.code ~ ' ' ~ region.name }}</option>
                                    {% endif %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn" type="submit">
                                        <i class="fa fa-filter"></i>
                                        <span class="hidden-xs hidden-sm">Filter</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-4">
            <div class="global-actions">
                {% block global_actions %}
                    {% if easyadmin_action_is_enabled_for_list_view('search', _entity_config.name) %}
                        {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}

                        {% block search_action %}
                            <div class="form-action {{ _action.css_class|default('') }}">
                                <form method="get" action="{{ path('easyadmin') }}">
                                    {% block search_form %}
                                        <input type="hidden" name="action" value="search">
                                        <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                                        <input type="hidden" name="sortField" value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
                                        <input type="hidden" name="sortDirection" value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
                                        <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                                        <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                                        <div class="input-group">
                                            <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                                    <i class="fa fa-search"></i>
                                                    <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                                </button>
                                            </span>
                                        </div>
                                    {% endblock %}
                                </form>
                            </div>
                        {% endblock search_action %}
                    {% endif %}

                    {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
                        {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
                        {% block new_action %}
                            <div class="button-action">
                                <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
                                    {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                                    {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
                                </a>
                            </div>
                        {% endblock new_action %}
                    {% endif %}
                {% endblock global_actions %}
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/semart.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            region_search('{{ _select2_locale }}');
            $('.region-search').change();

            employee_search('{{ _select2_locale }}');
            $('.employee-search').change();
        });
    </script>
{% endblock %}
