{% filter spaceless %}
    <div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <b class="{% if status %}text-success{% else %}text-danger{% endif %}">{{ 'label.query.total' | trans }}: {{ total }}</b>
    </div>
    <div class="row col-md-12 col-xs-12 col-sm-12 col-lg-12 margin-b-7">
        <table class="table table-responsive no-padding table-bordered table-hover table-striped">
            <thead>
            <tr>
                {% if status %}
                    <th class="text-center">No</th>
                {% endif %}
                {% for i, column in columns %}
                    <th class="text-center{% if status != true %} text-danger{% endif %}">{{ column | upper }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="table-content">
            {% for i, record in records %}
                <tr>
                    {% if status %}
                        <td class="text-right" style="width: 49px;">{{ (i + 1)  }}</td>
                    {% endif %}
                    {% for column in record %}
                        <td class="text-center{% if status != true %} text-danger{% endif %}">{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfilter %}
