{% filter spaceless %}

{% set menu = code_to_menu('GROUP') %}

{% set startNumber = start_page_number() %}

{% for key, data in groups %}
    <tr>
        <td class="text-right">{{ (key + startNumber)  }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td class="text-center">
            {% if is_granted('edit', menu) %}
                <button data-toggle="modal" data-target="#role-modal" data-primary="{{ data.id }}" class="btn btn-xs btn-danger role margin-r-5"><i class="fa fa-lock"></i> {{ 'label.crud.roles' | trans }}</button>
            {% endif %}
            {% if is_granted('edit', menu) and 'SPRADM' != data.code and false == data.deleted %}
                <button data-toggle="modal" data-target="#form-modal" data-primary="{{ data.id }}" class="btn btn-xs btn-instagram edit margin-r-5"><i class="fa fa-edit"></i> {{ 'label.crud.edit' | trans }}</button>
            {% endif %}
            {% if is_granted('delete', menu) and 'SPRADM' != data.code and false == data.deleted %}
                <button data-primary="{{ data.id }}" class="btn btn-xs btn-warning delete"><i class="fa fa-remove"></i> {{ 'label.crud.delete' | trans }}</button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% endfilter %}
