{% extends 'app/default/list.html.twig' %}

{% set _select2_locales = ['ar', 'az', 'bg', 'ca', 'cs', 'da', 'de', 'el', 'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gl', 'he', 'hi', 'hr', 'hu', 'id', 'is', 'it', 'ja', 'km', 'ko', 'lt', 'lv', 'mk', 'ms', 'nb', 'nl', 'pl', 'pt-BR', 'pt', 'ro', 'ru', 'sk', 'sr-Cyrl', 'sr', 'sv', 'th', 'tr', 'uk', 'vi', 'zh-CN', 'zh-TW'] %}
{% set _app_language = app.request.locale|split('-')|first|split('_')|first %}
{% set _select2_locale = app.request.locale in _select2_locales
    ? app.request.locale
    : _app_language in _select2_locales ? _app_language : 'en'
%}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set startDate = app.request.query.get('startDate', date() | date('01-m-Y')) %}
{%  set endDate = app.request.query.get('endDate', date() | date('t-m-Y')) %}
{% set extraField = is_granted('ROLE_SUPER_ADMIN') ? 1 : 0 %}

{% set _request_parameters = _request_parameters|default({})|merge({
    action: app.request.query.get('action'),
    entity: _entity_config.name,
    menuIndex: app.request.query.get('menuIndex'),
    submenuIndex: app.request.query.get('submenuIndex'),
    sortField: app.request.query.get('sortField', ''),
    startDate: startDate,
    endDate: endDate,
    company: app.request.query.get('company'),
    department: app.request.query.get('department'),
    shiftment: app.request.query.get('shiftment'),
    employeeId: app.request.query.get('employeeId'),
    sortDirection: app.request.query.get('sortDirection', 'DESC'),
    page: app.request.query.get('page', 1)
}) %}

{% block global_actions %}
    <div class="form-action">
        <form method="post" action="{{ path('upload_attendance') }}" enctype="multipart/form-data">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <div class="input-group">
                <input type="file" accept=".csv" name="attendance" class="form-control"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" title="{{ 'label.attendance.upload_action' | trans({}, 'messages') }}">
                        <i class="fa fa-upload"></i>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <a class="btn btn-default download" title="{{ 'label.attendance.download_template' | trans({}, 'messages') }}">
                        <i class="fa fa-download"></i>
                        <span class="hidden-xs hidden-sm"></span>
                    </a>
                    <button class="btn btn-primary process" type="button" title="{{ 'label.attendance.process_action' | trans({}, 'messages') }}">
                        <i class="fa fa-cogs"></i>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    {{ parent() }}
{% endblock %}

{% block main %}
    {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}

    <div class="row">
        <form method="get" action="{{ path('easyadmin') }}">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <input type="hidden" name="sortField" value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
            <input type="hidden" name="sortDirection" value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
            <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
            <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
            <div class="field-group col-xs-12 col-sm-12 col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 new-row">
                                <div class="form-group">
                                    <label class="control-label" for="shiftment">Pilih Karyawan</label>
                                    {% set employee = semarthris_create_employee(app.request.query.get('employeeId', '')) %}
                                    <select class="employee-search" name="employeeId">
                                        {% if employee is not null %}
                                            <option value="{{ employee.id }}">{{ employee.code ~ ' ' ~ employee.fullName }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="startDate">Pilih Tanggal</label>
                                    <div class="input-group input-daterange">
                                        <input type="text" name="startDate" class="form-control" required="required" value="{{ app.request.query.get('startDate') ?: date() | date('01-m-Y') }}">
                                        <span class="input-group-addon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                                        <input type="text" name="endDate" class="form-control" required="required" value="{{ app.request.query.get('endDate') ?: date() | date('t-m-Y') }}">
                                        <span class="input-group-btn">
                                            <button name="filter" id="filter" class="btn btn-primary pull-right" type="submit"><i class="fa fa-television"></i> {{ 'label.attendance.filter_action' | trans({}, 'messages') }}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <form method="get" action="{{ path('easyadmin') }}">
            <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
            <input type="hidden" name="sortField" value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
            <input type="hidden" name="sortDirection" value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
            <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
            <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
            <div class="field-group col-xs-12 col-sm-12 col-md-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="company">Pilih Perusahaan</label>
                                    <select id="company" name="company" class="static-select company-select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="department">Pilih Department</label>
                                    <input type="hidden" name="department" class="department-id" value="{{ app.request.query.get('department') }}">
                                    <select id="department" name="department_text" class="department-select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 new-row">
                                <div class="form-group">
                                    <label class="control-label" for="shiftment">Pilih Shift</label>
                                    <select id="shiftment" name="shiftment" class="static-select shiftment-select">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="startDate">Pilih Tanggal</label>
                                    <div class="input-group input-daterange">
                                        <input id="startDate" type="text" name="startDate" class="form-control startDate" required="required" value="{{ app.request.query.get('startDate') ?: date() | date('01-m-Y') }}">
                                        <span class="input-group-addon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                                        <input id="endDate" type="text" name="endDate" class="form-control" required="required" value="{{ app.request.query.get('endDate') ?: date() | date('t-m-Y') }}">
                                        <span class="input-group-btn">
                                            <button name="filter" id="filter" class="btn btn-primary pull-right" type="submit"><i class="fa fa-television"></i> {{ 'label.attendance.filter_action' | trans({}, 'messages') }}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
            {% block table_head %}
                <tr>
                    <td><input type="checkbox" name="employee_checkall" class="employee_checkall"/></td>
                    {% for field, metadata in fields %}
                        {% set isSortingField = metadata.property == app.request.query.get('sortField')|split('.')|first %}
                        {% set nextSortDirection = isSortingField ? (app.request.query.get('sortDirection') == 'DESC' ? 'ASC' : 'DESC') : 'DESC' %}
                        {% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}
                        {% set _column_icon = isSortingField ? (nextSortDirection == 'DESC' ? 'fa-caret-up' : 'fa-caret-down') : 'fa-sort' %}

                        <th data-property-name="{{ metadata.property }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.virtual ? 'virtual' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                            {% if metadata.sortable %}
                                <a href="{{ path('easyadmin', _request_parameters|merge({ sortField: metadata.property, sortDirection: nextSortDirection })) }}">
                                    <i class="fa {{ _column_icon }}"></i>
                                    {{ _column_label|raw }}
                                </a>
                            {% else %}
                                <span>{{ _column_label|raw }}</span>
                            {% endif %}
                        </th>
                    {% endfor %}

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th data-property-name="deleted"><span>{{ 'semarthris.is_deleted' | trans({}, 'messages') }}</span></th>
                    {% endif %}

                    {% if _list_item_actions|length > 0 %}
                        <th>
                            <span>{{ 'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') }}</span>
                        </th>
                    {% endif %}
                </tr>
            {% endblock table_head %}
            </thead>

            <tbody>
            {% block table_body %}
                {% for key, item in results %}
                    {% if item is not empty %}
                        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
                        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
                        <tr data-id="{{ _item_id }}">
                            {% set employeeId = item.employee ? item.employee.id : null %}
                            <td><input type="checkbox" name="employee[]" class="employee" data-employee="{{ employeeId }}"/></td>
                        {% for field, metadata in fields %}
                            {% set isSortingField = metadata.property == app.request.query.get('sortField') %}
                            {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                            <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                                {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                            </td>
                        {% endfor %}

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            {% if attribute(item, 'deleted') is defined and item.deleted == true %}
                                <td>{{ include('@EasyAdmin/default/field_toggle.html.twig', { value: true, view: 'list', backend_config: _entity_config }) }}</td>
                            {% else %}
                                <td>{{ include('@EasyAdmin/default/field_boolean.html.twig', { value: false }) }}</td>
                            {% endif %}
                        {% endif %}

                        {% if _list_item_actions|length > 0 %}
                            {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                            <td data-label="{{ _column_label }}" class="actions">
                                {% block item_actions %}
                                    {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                                        actions: _list_item_actions,
                                        request_parameters: _request_parameters,
                                        translation_domain: _entity_config.translation_domain,
                                        trans_parameters: _trans_parameters,
                                        item_id: _item_id
                                    }, with_context = false) }}
                                {% endblock item_actions %}
                            </td>
                        {% endif %}
                        </tr>
                    {% else  %}
                        <tr data-id="{{ key }}">
                            <td>&nbsp;</td>
                            <td>{{ key }}</td>
                            {% if semarthris_is_weekend_holiday(date(key)) %}
                                <td colspan="{{ _list_item_actions|length > 0 ? fields|length + extraField : fields|length }}" class="label label-primary text-center">
                                {{ 'semarthris.weekend_holiday' | trans({}, 'messages') | upper }}
                                </td>
                            {% else %}
                                {% set holiday = semarthris_holiday(date(key)) %}
                                {% if holiday is null %}
                                    <td colspan="{{ _list_item_actions|length > 0 ? fields|length + extraField : fields|length }}" class="label label-success text-center">
                                        {{ 'label.null' | trans({}, 'EasyAdminBundle') | upper }}
                                    </td>
                                {%  else %}
                                    <td colspan="{{ _list_item_actions|length > 0 ? fields|length + extraField : fields|length }}" class="label label-danger text-center">
                                        {{ holiday | upper }}
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 2 + extraField : fields | length + 1 + extraField }}">
                            {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock table_body %}
            </tbody>
        </table>
    </div>

    {% block paginator %}
        {{ parent() }}
    {% endblock paginator %}

    <div id="modal-process" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'delete_modal.title'|trans({}, 'EasyAdminBundle') }}</h4>
                    <p>{{ 'semarthris.attendance.process_warning_content'|trans({}, 'messages') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">
                        {{ 'action.cancel'|trans({}, 'messages') }}
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger process-attendance">
                        {{ 'label.attendance.process_action' | trans({}, 'messages') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-after-process" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'delete_modal.title'|trans({}, 'EasyAdminBundle') }}</h4>
                    <p>{{ 'semarthris.attendance.process_finish_content'|trans({}, 'messages') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary reload">
                        {{ 'action.close'|trans({}, 'messages') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}

{% block head_stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset('js/semart.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            var locale = '{{ _select2_locale }}';
            var emptyText = '{{ 'label.form.empty_value' | trans({}, 'messages') }}';
            var btnFile = '{{ 'label.form.file_chooser' | trans({}, 'messages') }}';

            $(document).on('click', '.process', function () {
               $('#modal-process').modal();
            });

            $(document).on('click', '.download', function () {
                window.location = '/files/templates/attendance.csv?force=1';
            });

            $(document).on('change', 'input[name=startDate]', function () {
                $('input[name=startDate]').val($(this).val());
            });

            $(document).on('change', 'input[name=endDate]', function () {
                $('input[name=endDate]').val($(this).val());
            });

            $(document).on('click', '.process-attendance', function () {
                var employees = [];
                $('.employee:checkbox:checked').each(function () {
                    employees.push($(this).data('employee'));
                });

                var date = createDate($('.startDate').val(), '{{ date_format_long }}');
                var month = date.getMonth() + 1;

                $.ajax({
                    url: Routing.generate('process_attendance'),
                    type: 'POST',
                    data: {
                        employees: employees,
                        month: month,
                        year: date.getFullYear()
                    },
                    beforeSend: function () {},
                    success: function () {
                        $('#modal-after-process').modal();
                    },
                    error: function () {
                        console.log('KO');
                    }
                });
            });

            $(document).on('click', '.reload', function() {
                window.location.reload(true);
            });

            $(document).on('click', '.employee_checkall', function(){
                $('.employee').prop('checked', this.checked);
            });

            change_file_chooser(btnFile, 'fa fa-file-excel-o', true);
            change_static_select(locale);
            date_range_picker(locale,  '{{ date_format_long }}');
            company_autocomplete(emptyText, '{{ app.request.query.get('company') }}');
            shiftment_autocomplete(emptyText, '{{ app.request.query.get('shiftment') }}');
            department_autocomplete(locale, emptyText);

            employee_search('{{ _select2_locale }}');
            $('.employee-search').change();
        });
    </script>
{% endblock %}
