{% extends 'layout.html.twig' %}

{% block stylesheets %}{% filter spaceless %}
    <link rel="stylesheet" href="{{asset('lib/select2/css/select2.min.css')}}">
{% endfilter %}{% endblock %}

{% block title %}{% filter spaceless %}{{ title | upper }}{% endfilter %}{% endblock %}

{% block page_title %}{% filter spaceless %}{{ title }}{% endfilter %}{% endblock %}

{% block content %}{% filter spaceless %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'label.crud.list_title' | trans }} {{ title }}</h3>
                <div class="box-tools col-md-7 col-xs-7 col-sm-7 col-lg-7 pull-right">
                    <div class="input-group">
                        {% if is_granted('add', code_to_menu('MENU')) %}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary form-modal-action"><i class="fa fa-plus-circle"></i> {{ 'label.crud.add' | trans }}</button>
                            </div>
                        {% endif %}
                        <input type="text" name="table_search" class="form-control pull-right query-string" placeholder="{{ 'label.crud.search_text' | trans }}">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-danger search-action"><i class="fa fa-search-plus"></i> {{ 'label.crud.search' | trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="table-content" class="table table-responsive no-padding table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 49px;">No</th>
                            <th class="text-center">{{ 'label.menu.parent' | trans }} <i data-sort="no" data-sort-field="parent.name" class="fa fa-sort sortable pull-right"></i></th>
                            <th class="text-center">{{ 'label.menu.code' | trans }} <i data-sort="no" data-sort-field="code" class="fa fa-sort sortable pull-right"></i></th>
                            <th class="text-center">{{ 'label.menu.name' | trans }} <i data-sort="no" data-sort-field="name" class="fa fa-sort sortable pull-right"></i></th>
                            <th class="text-center">{{ 'label.menu.menuOrder' | trans }}</th>
                            <th class="text-center">{{ 'label.menu.iconClass' | trans }}</th>
                            <th class="text-center">{{ 'label.menu.routeName' | trans }}</th>
                            <th class="text-center">{{ 'label.menu.showable' | trans }}</th>
                            <th class="text-center" style="width: 177px">{{ 'label.crud.action' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody class="table-content">
                        {% include 'menu/table-content.html.twig' %}
                    </tbody>
                </table>
            </div>
            <div class="box box-footer">
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 pull-left margin-r-5">
                    <button type="button" class="btn btn-danger refresh"><i class="fa fa-refresh"></i> {{ 'label.crud.refresh' | trans }}</button>
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 pull-right pagination-box">
                    {% include 'menu/pagination.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-default" id="form-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title form-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="semartForm" method="POST">
                    <input type="hidden" id="id" value="">
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">{{ 'label.menu.parent' | trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="parent">
                                <option value="">---PILIH {{ 'label.menu.parent' | trans | upper }}---</option>
                                {% for i, data in parents %}
                                    <option value="{{ data.id }}">{% if data.parent is not null %}{{ data.parent.name ~ ' > ' ~ data.name }}{% else %}{{ data.name }}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.menu.code' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="code" placeholder="{{ 'label.menu.code' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.menu.name' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="{{ 'label.menu.name' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.menu.menuOrder' | trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="menuOrder">
                                <option value="">---PILIH {{ 'label.menu.menuOrder' | trans | upper }}---</option>
                                {% for i in 1..17 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.menu.iconClass' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="iconClass" placeholder="{{ 'label.menu.iconClass' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.menu.routeName' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="routeName" placeholder="{{ 'label.menu.routeName' | trans }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.menu.showable' | trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control select2-static" id="showable">
                                <option value="">---TAMPILKAN/TIDAK---</option>
                                <option value="true">TAMPILKAN</option>
                                <option value="false">TIDAK DITAMPILKAN</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left btn-warning" data-dismiss="modal">{{ 'label.crud.cancel' | trans }}</button>
                <button type="button" class="btn btn-danger save">{{ 'label.crud.save' | trans }}</button>
            </div>
        </div>
    </div>
</div>

{% include 'default/notification_modal.html.twig' %}
{% endfilter %}{% endblock %}

{% block javascripts %}{% filter spaceless %}
<script src="{{ asset('lib/select2/js/select2.min.js') }}"></script>
<script>
    $(window).ready(function () {
        localStorage.setItem('csrf_token', '{{ csrf_token('APP_CSRF_TOKEN') }}');
        localStorage.setItem('cache_id', '{{ cacheId }}');

        $('.select2-static').select2();
        $('.query-string').val('');

        $(document).on('click', '.form-modal-action', function () {
            formReset(function () {
                $('.select2-static').trigger('change');
            });
            $('.form-title').html('{{ 'label.crud.add_title' | trans({'%title%': title }) }}');
            $('#form-modal').modal();
        });

        $(document).on('click', '.save', function () {
            let id = $('#id').val();
            let parent = $('#parent').val();
            let code = $('#code').val();
            let name = $('#name').val();
            let menuOrder = $('#menuOrder').val();
            let iconClass = $('#iconClass').val();
            let routeName = $('#routeName').val();
            let showable = $('#showable').val();

            $.post(Routing.generate('menus_save'), {
                _csrf_token: localStorage.getItem('csrf_token'),
                _cache_id: localStorage.getItem('cache_id'),
                id: id,
                parent: parent,
                code: code,
                name: name,
                menuOrder: menuOrder,
                iconClass: iconClass,
                routeName: routeName,
                showable: showable
            }, function (response) {
                localStorage.setItem('csrf_token', response._csrf_token);
                if ('OK' === response.status) {
                    formReset(function () {
                        $('.select2-static').trigger('change');
                    });

                    $('#form-modal').modal('hide');

                    toastr['success']('{{ 'label.crud.save_message' | trans }}');

                    refreshTable(window.location.href, '{{ title }}');
                } else {
                    let listError = '<ul>';
                    $.each(response.errors, function (key, value) {
                        listError = listError + '<li><b> ' + value + '</b></li>';
                    });
                    listError = listError + '</ul>';

                    $('.error-body').html(listError);
                    $('.error-modal').modal();
                }
            });
        });

        $(document).on('click', '.edit', function () {
            let id = $(this).data('primary');
            
            $.get(Routing.generate('menus_detail', {id : id}), function (response) {
                let data = JSON.parse(response);
                $('#id').val(data.id);

                if (null !== data.parent) {
                    $('#parent').val(data.parent.id);
                }

                $('#code').val(data.code);
                $('#name').val(data.name);
                $('#menuOrder').val(data.menuOrder);
                $('#iconClass').val(data.iconClass);
                $('#routeName').val(data.routeName);
                $('#showable').val(data.showable ? 'true' : 'false');

                $('.select2-static').trigger('change');

                $('.form-title').html('{{ 'label.crud.edit_title' | trans({'%title%': title }) }}');
                $('#form-modal').modal();
            });
        });

        $(document).on('click', '.delete', function () {
            $('#primaryId').val($(this).data('primary'));
            $('.delete-modal').modal();
        });

        $(document).on('click', '.notif-delete', function () {
            $('.delete-modal').modal('hide');
            $.post(Routing.generate('menus_remove', {id: $('#primaryId').val()}), {_csrf_token: localStorage.getItem('csrf_token')}, function (response) {

                toastr['success']('{{ 'label.crud.delete_message' | trans }}');

                refreshTable(Routing.generate('menus_index'), '{{ title }}');

                localStorage.setItem('csrf_token', response._csrf_token);
            });
        });
        
        $(document).on('click', '.search-action', function () {
            let params = getQueriesString();

            params['q'] = $('.query-string').val();

            refreshTable(Routing.generate('menus_index', params), '{{ title }}');
        });

        $(document).on('click', '.pagination-container a.btn-danger', function (e) {
            e.preventDefault();
            let url = jQuery(this).attr('href');

            refreshTable(url, '{{ title }}');
        });
    });
</script>
{% endfilter %}{% endblock %}
