{% extends 'layout.html.twig' %}

{% block stylesheets %}{% filter spaceless %}
    <link rel="stylesheet" href="{{asset('css/fileupload.css')}}">
{% endfilter %}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}{% filter spaceless %}
{% set user = app.user %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'label.user.profile' | trans }}</h3>
            </div>
            <div class="box-body">
                <div class="col-md-2">
                    <input type="hidden" id="profileImage" value="">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url({% if user.profileImage %}{{ path('get_files', {path: user.profileImage}) }}{% else %}{{ asset('img/logo.gif') }}{% endif %});">
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal col-md-10 col-sm-10 col-xs-10" method="POST">
                    <input type="hidden" id="id" value="{{ user.id }}">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ 'label.user.username' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group" class="col-sm-2 control-label">{{ 'label.group.name' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="group" value="{{ user.group.name }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fullName" class="col-sm-2 control-label">{{ 'label.user.full_name' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fullName" value="{{ user.fullName }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">{{ 'label.user.password' | trans }}</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="plainPassword" placeholder="{{ 'label.user.change_password' | trans }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger save">{{ 'label.crud.save' | trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endfilter %}{% endblock %}

{% block javascripts %}
<script>
    $(window).ready(function () {
        localStorage.setItem('csrf_token', '{{ csrf_token('APP_CSRF_TOKEN') }}');

        $(document).on('click', '.save', function () {
            let id = $('#id').val();
            let fullName = $('#fullName').val();
            let plainPassword = $('#plainPassword').val();
            let profileImage = $('#profileImage').val();

            $.post(Routing.generate('profile_update'), {
                _csrf_token: localStorage.getItem('csrf_token'),
                id: id,
                fullName: fullName,
                plainPassword: plainPassword,
                profileImage: profileImage,
            }, function (response) {
                if ('OK' === response.status) {
                    localStorage.setItem('csrf_token', response._csrf_token);

                    toastr['success']('{{ 'label.crud.save_message' | trans }}');
                }
            });
        });

        $(document).on('change', '#imageUpload', function (e) {
            let formData = new FormData();
            let file = $(this)[0].files[0];

            formData.append('profileImage', file);
            formData.append('_csrf_token', localStorage.getItem('csrf_token'));

            $.ajax({
                url: Routing.generate('files_upload'),
                type: 'POST',
                data: formData,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function(response) {
                    localStorage.setItem('csrf_token', response._csrf_token);

                    $('#profileImage').val(response.files['profileImage']);
                    $('#imagePreview').css('background-image', 'url(' + Routing.generate('get_files', {path: response.files['profileImage']}) + ')');
                }
            });
        });
    });
</script>
{% endblock %}
